<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>child-angular11</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/app/angular/view/styles.a078f39c51540b4fb8ec.css"></head>
<body>
  <app-root></app-root>
<script src="/app/angular/view/runtime-es2015.f3bbe537faa626c78d29.js" type="module"></script><script src="/app/angular/view/runtime-es5.f3bbe537faa626c78d29.js" nomodule defer></script><script src="/app/angular/view/polyfills-es5.d6c3acf9f627bd6b4a80.js" nomodule defer></script><script src="/app/angular/view/polyfills-es2015.0c5814d59815234809d5.js" type="module"></script><script src="/app/angular/view/main-es2015.2d29a34d3535b29a19dd.js" type="module"></script><script src="/app/angular/view/main-es5.2d29a34d3535b29a19dd.js" nomodule defer></script></body>
</html>
